
<div class="fullpage">
    <mat-progress-bar *ngIf="load.isLoading | async" mode="indeterminate"></mat-progress-bar>

    <div  class="nav">
        <div class="containernav">
            <div (click)="homebutton()" class="title">
                <div class="logo">
                    <img src="../assets/images/logo.png">

                    </div>
                    <div class="logoname">
                        <p>iStore  </p>

                    </div>


            </div>
            <div class="navbtns">
                <div class="innernavbtns">
                    <button (click)="homebutton()"> Main</button>
                    <button (click)="cartbutton()"> Cart</button>
                    <button (click)="ordersbutton()"> Orders</button>
                </div>


            </div>
        </div>


    </div>
</div>

<router-outlet></router-outlet>